/** main **/
main {
  flex-grow: 1;
  order:40;
  background:#fff;
  padding:1rem;
  font-size:1.5rem;
}
main h2 {
  font-size:3rem;
  padding-bottom:1rem;
  padding-top:1rem;
  border-bottom:2px solid #000;
}
main h3 {
  font-size:2rem;
  padding-bottom:1rem;
  padding-top:1rem;
}
main ul {
  margin-left:1rem;
}
